body {
    font-family: "Oswald", sans-serif;
    margin: 0;
}

/*header stuff here*/
header {
    background-color: #F3DFC1;
    padding: 1rem 10px;
}
header span {
    color: #04cef1;
    font-size: 1.6rem;
    font-weight: 700;
}

/* anvigaitonasfd faslkewok*/
nav {
    background-color: #04cef1;
}
nav.ul {
    margin: 0;
    padding: 0 10px;
    list-style-type:unset;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #0d3b3b;
    font-weight: 700;
}
nav li.active a {
    background-color:#04cef1;
    color: #0d3b3b;

}
nav li a:hover {    
    color: white;
}
main {
    color: #2563eb;
    background-color:white;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #0d3b3b;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
    padding-bottom: 0.25rem;
}
p {
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1rem;
}
ul {
    list-style-type: circle;
}
dl {
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 5px;
    margin: 2rem 0;
}

dt {
    font-weight: 700;
    color: #1e3a8a;
    margin-top: 0.5rem;
}
/* footer*/
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0; 
}
footer p {
    margin: 0;
    font-size: .9rem;
    color: #281d16;
    letter-spacing: 3px;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.gallery figure {
  width: 300px;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery figcaption {
  font-size: 0.85rem;
  margin-top: 0.5rem;
}